.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-block-item {
  display: flex;
  justify-content: space-between;
}

.info-block-item-details {
  display: flex;
  flex-direction: column;
}

.education-text {
  width: 50%;
}

.info-block-item-title {
  font-size: 15px;
  color: #000000;
  padding-bottom: 5px;
}

.info-block-item-text {
  color: #000000;
  font-size: 15px;
  line-height: 22px;
}

.info-block-item-link {
  color: #000000;
  font-size: 15px;
}

.info-block-item-link:hover {
  color: #515151;
  transition: 0.4s;
}

.info-block-title {
  position: relative;
  letter-spacing: 0.3em;
  font-size: 18px;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.info-block-title::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  left: 0;
}

.info-block-list {
  padding-left: 17px;
}
.info-block-list-item:not(:last-child) {
  padding-bottom: 5px;
}
